{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
Expires: Thu, 01 Dec 1994 16:00:00 GMT
%a, %d %b %Y %T %Z
{% endcomment %}

<link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin />